body {
	background: black;
	font-family: "Kalam", cursive;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 320px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 60px;
	height: 60px;
	margin: 10px;
}
.postcard-header h1 {
	width: 400px;
	height: 40px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0px;
}
.body-left,
.body-right {
	padding: 0px 10px 0px 10px;
}
input {
	border: none;
	border-bottom: solid grey 1px;
	background-color: white;
	color: gray;
	font-family: "Kalam", cursive;
	padding: 5px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: gray;
	padding: 3px 10px 6px 10px;
	font-family: "Kalam", cursive;
}
